<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.easify">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:appComponentFactory="androidx.core.app.CoreComponentFactory"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.Easify"
        tools:replace="android:appComponentFactory"
        tools:targetApi="31">
        <activity
            android:name=".driverlist"
            android:exported="false" />
        <activity
            android:name=".cooklist"
            android:exported="false" />
        <activity
            android:name=".gardeninglist"
            android:exported="false" />
        <activity
            android:name=".treecuttinglist"
            android:exported="false" />
        <activity
            android:name=".appliancelist"
            android:exported="false" />
        <activity
            android:name=".housecleaninglist"
            android:exported="false" />
        <activity
            android:name=".electricianlist"
            android:exported="false" />
        <activity
            android:name=".carmechaniclist"
            android:exported="false" />
        <activity
            android:name=".paintinglist"
            android:exported="false" />
        <activity
            android:name=".plumberlist"
            android:exported="false" />
        <activity
            android:name=".serviceproviderregister"
            android:exported="false" />
        <activity
            android:name=".driver"
            android:exported="false" />
        <activity
            android:name=".cook"
            android:exported="false" />
        <activity
            android:name=".gardening"
            android:exported="false" />
        <activity
            android:name=".treecutting"
            android:exported="false" />
        <activity
            android:name=".appliance"
            android:exported="false" />
        <activity
            android:name=".housecleaning"
            android:exported="false" />
        <activity
            android:name=".electrician"
            android:exported="false" />
        <activity
            android:name=".carmechanic"
            android:exported="false" />
        <activity
            android:name=".painting"
            android:exported="false" />
        <activity
            android:name=".plumber"
            android:exported="false" />
        <activity
            android:name=".SecondActivity"
            android:exported="false" />
        <activity
            android:name=".userdashboard"
            android:exported="false" />
        <activity
            android:name=".register"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>